#box {
    width: 930px;
    margin: 0 auto;
}

.head {
    padding: 12px 0 8px 2px;
}

.head>img {
    float: left;
    height: 52px;
}

.head>ul {
    font-size: 12px;
    color: rgb(59, 0, 112);
    margin-top: 35px;
}

.head>ul>li {
    padding: 0 5px;
    float: left;
    border-right: 1px solid rgb(204, 204, 204);
}

.head>ul>li>a {
    color: rgb(153, 153, 153);
}

.head>ul>li>a:hover {
    color: rgb(51, 51, 51);
    text-decoration: underline;
}

.content {
    border: 1px solid rgb(204, 204, 204);
    font-size: 12px;
    color: rgb(51, 51, 51);
}

.content>h2 {
    padding: 7px 0;
    background: linear-gradient(to bottom, rgb(233, 248, 254), rgb(186, 225, 247));
}

.content .xuhao {
    width: 36px;
    text-align: center;
}

.content .name {
    text-align: center;
    width: 554px;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content .otherPrice {
    text-align: center;
    width: 49px;
}

.content .ownPrice {
    text-align: center;
    width: 47px;
}

.content .num {
    text-align: center;
    width: 39px;
}

.content .add {
    text-align: center;
    width: 59px;
}

.content .sc {
    text-align: center;
    width: 70px;
}

.content .remove {
    text-align: center;
    width: 45px;
}

.content>ul>li {
    padding: 7px 0;
    border-bottom: 1px dashed rgb(204, 204, 204);
}

.content>ul>li .name {
    color: rgb(59, 92, 192);
}

.content>ul>li .name:hover {
    color: rgb(255, 153, 0);
    text-decoration: underline;
}

.content>ul>li .num {
    border: 1px solid rgb(211, 226, 250);
    color: rgb(49, 49, 255);
    font-weight: 600;
}

.content>ul>li .num:hover {
    background: rgb(202, 254, 255);
    border: 1px solid rgb(0, 0, 139);
}

.content>ul>li .sc {
    color: rgb(0, 51, 153);
}

.content>ul>li .sc:hover {
    color: rgb(255, 153, 0);
    text-decoration: underline;
    cursor: pointer;
}

.content>ul>li .remove {
    color: rgb(0, 51, 153);
    background: white;
    font-size: 12px;
}

.content>ul>li .remove:hover {
    color: rgb(255, 153, 0);
    text-decoration: underline;
    cursor: pointer;
}

.content .addPrice {
    padding: 6px 39px;
    text-align: right;
    color: rgb(51, 51, 51);
    font-weight: 600;
}

.content .addPrice>span {
    color: rgb(255, 0, 0);
}

.qs {
    margin-top: 20px;
}

.qs>a:nth-of-type(1) {
    background: linear-gradient(to bottom, rgb(253, 221, 189), rgb(249, 130, 20));
    color: white;
    font-weight: 600;
    padding-right: 8px;
    height: 24px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
}

.qs>a:nth-of-type(2) {
    float: right;
    font-size: 12px;
    color: rgb(0, 51, 153);
    margin-right: 30px;
    margin-top: 5px;
}

.qs>a:nth-of-type(2):hover {
    color: rgb(255, 153, 0);
    text-decoration: underline;
}