#head .nav .nav_c .nav_more .nav_ul1 {
    display: block;
}

.carousel {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.carousel .carousel_c {
    width: 970px;
}

.carousel .carousel_c .lunbo {
    width: 765px;
    height: 400px;
}

.carousel .carousel_c .cMore {
    height: 177px;
    margin-top: 4px;
}

.carousel .carousel_c .cMore>a {
    float: left;
    width: 300px;
    height: 100%;
    margin-left: 23px;
}

.carousel .carousel_c .cMore>a>img {
    width: 100%;
    height: 100%;
    display: block;
}

.floor1 {
    width: 1200px;
    min-width: 1200px;
    margin: 15px auto;
}

.floor1 .floor1_t>li {
    float: left;
    width: 240px;
    text-align: center;
    border-bottom: 2px solid rgb(208, 208, 208);
    color: rgb(51, 51, 51);
    font-weight: 900;
    cursor: pointer;
    line-height: 36px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(245, 245, 245));
    border-right: 1px solid rgb(240, 240, 240);
}

.floor1 .floor1_t>li.color {
    border-bottom: 2px solid rgb(0, 148, 255);
    position: relative;
}

.floor1 .floor1_t>li.color:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 118px;
    bottom: 1px;
    border: 4px solid transparent;
    border-bottom: 4px solid rgb(0, 148, 255);
}

.floor1 .floor1_s {
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 20px 0 10px 0;
}

.floor1 .floor1_s>div {
    border-right: 1px solid rgb(241, 241, 241);
    float: left;
    width: 240px;
}

.floor1 .floor1_s>div:nth-of-type(2) {
    width: 480px;
}

.floor1 .floor1_s>div:last-child {
    border-right: none;
}

.floor1 .floor1_s .floor1_s1>a:nth-of-type(1) {
    display: block;
    height: 230px;
}

.floor1 .floor1_s .floor1_s1>a:nth-of-type(1)>img {
    display: block;
    width: 230px;
    height: 230px;
}

.floor1 .floor1_s .floor1_s1>a:nth-of-type(2) {
    font-size: 14px;
    color: rgb(103, 103, 128);
    margin: 4px 10px 10px 10px;
}

.floor1 .floor1_s .floor1_s1>p {
    font-size: 14px;
    line-height: 18px;
    color: black;
    margin: 10px 0 30px 0;
}

.floor1 .floor1_s .floor1_s1>div {
    font-size: 24px;
    color: rgb(255, 26, 58);
    font-weight: 900;
}

.floor1 .floor1_s .floor1_s1>div>span {
    font-size: 12px;
    font-weight: 300;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t {
    border-bottom: 1px solid rgb(241, 241, 241);
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t1 {
    width: 240px;
    border-right: 1px solid rgb(241, 241, 241);
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t1>a:nth-of-type(1) {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t1>a:nth-of-type(1)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t1>a:nth-of-type(2) {
    font-size: 14px;
    color: rgb(103, 102, 102);
    margin-left: 10px;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t1>div {
    font-size: 24px;
    color: rgb(255, 26, 58);
    font-weight: 900;
    margin-left: 10px;
    line-height: 20px;
    margin-bottom: 16px;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t1>div>span {
    font-weight: 300;
    font-size: 12px;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t2 {
    width: 239px;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t2>a:nth-of-type(2) {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t2>a:nth-of-type(2)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t2>a:nth-of-type(1) {
    font-size: 14px;
    color: rgb(103, 102, 102);
    margin-left: 10px;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t2>div {
    font-size: 24px;
    color: rgb(255, 26, 58);
    font-weight: 900;
    margin-left: 10px;
    line-height: 20px;
    margin-bottom: 16px;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_t .floor1_s2_t2>div>span {
    font-weight: 300;
    font-size: 12px;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_b {
    padding-top: 10px;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_b>a {
    float: left;
    width: 180px;
    height: 180px;
    margin: 0 25px 0 18px;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_b>a>img {
    display: block;
    width: 100%;
    height: 100%;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_b>div>a {
    font-size: 14px;
    color: rgb(103, 103, 128);
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_b>div>p {
    font-size: 14px;
    color: rgb(1, 1, 1);
    margin: 10px 0 30px 0;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_b>div>div {
    font-size: 24px;
    color: red;
    font-weight: 900;
}

.floor1 .floor1_s .floor1_s2 .floor1_s2_b>div>div>span {
    font-size: 12px;
    font-weight: 300;
}

.floor1 .floor1_s .floor1_s3>a:nth-of-type(1) {
    display: inline-block;
    font-size: 14px;
    color: rgb(103, 102, 102);
    margin: 0 10px 0 10px;
}

.floor1 .floor1_s .floor1_s3>p {
    font-size: 14px;
    color: rgb(1, 1, 1);
    margin: 10px 0 30px 10px;
}

.floor1 .floor1_s .floor1_s3>div {
    font-size: 24px;
    color: red;
    font-weight: 900;
    margin-left: 10px;
}

.floor1 .floor1_s .floor1_s3>div>span {
    font-size: 12px;
    font-weight: 300;
}

.floor1 .floor1_s .floor1_s3>a:nth-of-type(2) {
    display: block;
    height: 230px;
    margin-top: 20px;
}

.floor1 .floor1_s .floor1_s3>a:nth-of-type(2)>img {
    display: block;
    width: 230px;
    height: 230px;
}

.floor1 .floor1_s .floor1_s4 .floor1_s4_t {
    border-bottom: 1px solid rgb(241, 241, 241);
    padding-bottom: 10px;
}

.floor1 .floor1_s .floor1_s4 .floor1_s4_t>a:nth-of-type(1) {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 8px;
}

.floor1 .floor1_s .floor1_s4 .floor1_s4_t>a:nth-of-type(1)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.floor1 .floor1_s .floor1_s4 .floor1_s4_t>a:nth-of-type(2) {
    font-size: 14px;
    display: inline-block;
    color: rgb(103, 103, 128);
    margin-left: 10px;
}

.floor1 .floor1_s .floor1_s4 .floor1_s4_t>div {
    font-size: 24px;
    color: red;
    font-weight: 900;
    margin-left: 10px;
    line-height: 20px;
}

.floor1 .floor1_s .floor1_s4 .floor1_s4_t>div>span {
    font-size: 12px;
    font-weight: 300;
}

.floor1 .floor1_s .floor1_s4 .floor1_s4_b>a:nth-of-type(1) {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 8px;
}

.floor1 .floor1_s .floor1_s4 .floor1_s4_b>a:nth-of-type(1)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.floor1 .floor1_s .floor1_s4 .floor1_s4_b>a:nth-of-type(2) {
    font-size: 14px;
    display: inline-block;
    color: rgb(103, 103, 128);
    margin-left: 10px;
}

.floor1 .floor1_s .floor1_s4 .floor1_s4_b>div {
    font-size: 24px;
    color: red;
    font-weight: 900;
    margin-left: 10px;
    line-height: 20px;
}

.floor1 .floor1_s .floor1_s4 .floor1_s4_b>div>span {
    font-size: 12px;
    font-weight: 300;
}

.floor2 {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.floor2>h2 {
    padding: 16px 0 8px;
    border-bottom: 2px solid rgb(208, 208, 208);
}

.floor2>h2>span {
    float: left;
    font-weight: 900;
}

.floor2>h2>ul>li {
    font-size: 12px;
    float: left;
    padding: 0 13px;
    border-right: 1px solid rgb(102, 102, 102);
    margin-top: 5px;
}

.floor2>h2>ul>li:last-child {
    border-right: none;
}

.floor2>h2>ul>li>a {
    color: rgb(102, 102, 102);
}

.floor2>div>a {
    float: left;
    width: 236px;
    height: 300px;
    margin-top: 12px;
    margin-right: 5px;
}

.floor2>div>a:last-child {
    margin-right: 0;
}

.floor2>div>a>img {
    display: block;
    width: 100%;
    height: 100%;
}

.cFloor1 {
    width: 1200px;
    min-width: 1200px;
    margin: 10px auto 0;
}

.cFloor1>h2 {
    padding: 16px 0 8px;
    border-bottom: 2px solid rgb(1, 148, 255);
}

.cFloor1>h2>p {
    font-size: 18px;
    float: left;
    color: rgb(58, 58, 58);
    font-weight: 900;
}

.cFloor1>h2>p>strong {
    color: rgb(20, 151, 255);
    margin-left: 10px;
}

.cFloor1>h2>ul>li {
    font-size: 12px;
    float: left;
    padding: 0 13px;
    border-right: 1px solid rgb(102, 102, 102);
    margin-top: 8px;
}

.cFloor1>h2>ul>li:last-child {
    border-right: 0 none;
}

.cFloor1>h2>ul>li>a {
    color: rgb(102, 102, 102);
}

.cFloor1 .render {
    padding-top: 10px;
}

.cFloor1 .render>img {
    display: block;
    float: left;
    width: 268px;
    height: 480px;
    cursor: pointer;
}

.cFloor1 .render .render1 {
    width: 690px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.cFloor1 .render .render1 .render1_t {
    border-bottom: 1px solid rgb(228, 228, 228);
}

.cFloor1 .render .render1>div>div {
    border-right: 1px solid rgb(228, 228, 228);
}

.cFloor1 .render .render1>div>div:last-child {
    border-right: 0 none;
}

.cFloor1 .render .render1 .render1_t>div {
    width: 345px;
}

.cFloor1 .render .render1 .render1_t>div>a:nth-of-type(1) {
    float: left;
    width: 180px;
    height: 180px;
}

.cFloor1 .render .render1 .render1_t>div>a:nth-of-type(1)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.cFloor1 .render .render1 .render1_t>div>div {
    width: 160px;
}

.cFloor1 .render .render1 .render1_t>div>div>a {
    font-size: 14px;
    color: rgb(102, 102, 103);
    margin-top: 20px;
    display: inline-block;
}

.cFloor1 .render .render1 .render1_t>div>div>p {
    font-size: 14px;
    color: rgb(1, 1, 1);
    margin: 10px 0 30px;
}

.cFloor1 .render .render1 .render1_t>div>div>div {
    font-size: 24px;
    color: red;
    font-weight: 900;
}

.cFloor1 .render .render1 .render1_t>div>div>div>span {
    font-size: 12px;
    font-weight: 300;
}

.cFloor1 .render .render1 .render1_b>div {
    width: 230px;
}

.cFloor1 .render .render1 .render1_b>div>a:nth-of-type(1) {
    font-size: 14px;
    color: rgb(102, 102, 103);
    padding: 0 10px;
    display: inline-block;
    margin-top: 10px;
}

.cFloor1 .render .render1 .render1_b>div>p {
    font-size: 14px;
    color: rgb(1, 1, 1);
    padding: 6px 10px 0;
}

.cFloor1 .render .render1 .render1_b>div>div {
    font-size: 24px;
    color: red;
    font-weight: 900;
    padding-left: 10px;
    padding-top: 10px;
}

.cFloor1 .render .render1 .render1_b>div>a:nth-of-type(2) {
    display: block;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top: 23px;
}

.cFloor1 .render .render1 .render1_b>div>a:nth-of-type(2)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.cFloor1 .render .render1 .render1_b>div>div>span {
    font-size: 12px;
    font-weight: 300;
}




.cFloor1 .render .render2 {
    width: 218px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.cFloor1 .render .render2>h3 {
    color: red;
    text-align: center;
    font-weight: 900;
    border-bottom: 2px solid rgb(208, 208, 208);
    line-height: 26px;
}

.cFloor1 .render .render2>div>div {
    padding: 12px 2px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.cFloor1 .render .render2>div>div>a:nth-of-type(1) {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.cFloor1 .render .render2>div>div>a:nth-of-type(1)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.cFloor1 .render .render2>div>div>a:nth-of-type(2) {
    display: block;
    height: 18px;
    text-align: center;
    font-size: 12px;
    color: rgb(102, 102, 103);
    overflow: hidden;
    padding: 0 10px;
}

.cFloor1 .render .render2>div>div>div {
    text-align: center;
    font-size: 14px;
    color: red;
    font-weight: 900;
}

.cFloor1 .render .render2>div>div>span {
    width: 20px;
    height: 20px;
    border: 2px solid red;
    color: red;
    font-size: 14px;
    border-radius: 50%;
    font-weight: 900;
    text-align: center;
    line-height: 16px;
}

.cFloor1 .render .render2>div>div>p {
    width: 160px;
    float: left;
    font-size: 12px;
    color: rgb(102, 102, 103);
    height: 18px;
    overflow: hidden;
    margin-left: 10px;
}

.cFloor2 {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    height: 59px;
    border-bottom: 1px solid rgb(208, 208, 208);
    padding: 11px 0;
}

.cFloor2>a {
    float: left;
    width: 75px;
    height: 36px;
    margin: 0 12px;
}

.cFloor2>a:last-child {
    margin-right: 0;
}

.cFloor2>a>img {
    display: block;
    width: 100%;
    height: 100%;
}

.cFloor3 {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.cFloor3>h2 {
    padding: 20px 0 10px;
    border-bottom: 2px solid rgb(0, 148, 255);
}

.cFloor3>h2>span {
    font-size: 18px;
    font-weight: 900;
    color: rgb(53, 53, 53);
}

.cFloor3>h2>span>strong {
    color: rgb(36, 154, 215);
    margin-left: 10px;
}

.cFloor3>h2>ul>li {
    float: left;
    padding: 0 15px;
    border-right: 1px solid rgb(103, 102, 102);
    font-size: 12px;
    margin-top: 8px;
}

.cFloor3>h2>ul>li:last-child {
    border-right: 0 none;
}

.cFloor3>h2>ul>li>a {
    color: rgb(103, 102, 102);
}

.cFloor3 .f3Render {
    padding-top: 10px;
}

.cFloor3 .f3Render .f3Render1 {
    width: 615px;
}

.cFloor3 .f3Render .f3Render1>div {
    float: left;
    width: 205px;
    border-right: 1px solid rgb(208, 208, 208);
    border-bottom: 1px solid rgb(208, 208, 208);
}

.cFloor3 .f3Render .f3Render1>div:nth-of-type(3n+3) {
    border-right: 0 none;
}

.cFloor3 .f3Render .f3Render1>div>a:nth-of-type(1) {
    display: block;
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.cFloor3 .f3Render .f3Render1>div>a:nth-of-type(1)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.cFloor3 .f3Render .f3Render1>div>a:nth-of-type(2) {
    display: block;
    height: 20px;
    text-align: center;
    font-size: 14px;
    color: rgb(102, 102, 102);
    margin-top: 8px;
}

.cFloor3 .f3Render .f3Render1>div>div {
    text-align: center;
    color: red;
    font-weight: 900;
    margin-bottom: 9px;
}

.cFloor3 .f3Render .f3Render1>div>div>span {
    font-size: 12px;
    font-weight: 300;
}

.cFloor3 .f3Render>img {
    float: left;
    width: 344px;
    height: 480px;
}

.cFloor3 .f3Render .f3Render2 {
    width: 218px;
}

.cFloor3 .f3Render .f3Render2>h3 {
    color: red;
    text-align: center;
    padding: 6px 0;
    font-weight: 900;
    border-bottom: 2px solid rgb(208, 208, 208);
}

.cFloor3 .f3Render .f3Render2>ul>li {
    border-bottom: 1px solid rgb(208, 208, 208);
    padding: 11px;
}

.cFloor3 .f3Render .f3Render2>ul>li>a:nth-of-type(1) {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.cFloor3 .f3Render .f3Render2>ul>li>a:nth-of-type(1)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.cFloor3 .f3Render .f3Render2>ul>li>a:nth-of-type(2) {
    display: block;
    height: 18px;
    margin: 0 10px;
    text-align: center;
    color: rgb(102, 102, 103);
    font-size: 14px;
    overflow: hidden;
}

.cFloor3 .f3Render .f3Render2>ul>li>div {
    text-align: center;
    color: red;
    font-size: 14px;
    font-weight: 900;
}

.cFloor3 .f3Render .f3Render2>ul>li>span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid red;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    color: red;
}

.cFloor3 .f3Render .f3Render2>ul>li>p {
    display: inline-block;
    font-size: 14px;
    color: rgb(102, 102, 103);
    height: 18px;
    overflow: hidden;
    margin-left: 10px;
    width: 160px;
}

.floor8 {
    width: 1200px;
    min-width: 1200px;
    margin: 20px auto 0;
}

.floor8 .floor8_l {
    width: 807px;
    border: 1px solid rgb(208, 208, 208);
    border-top: 2px solid rgb(208, 208, 208);
    padding: 1px 20px;
}

.floor8 .floor8_l>h2 {
    color: #666;
    font-weight: 900;
    border-bottom: 1px solid rgb(208, 208, 208);
    padding: 7px 0;
    margin-bottom: 20px;
}

.floor8 .floor8_l>div>div.fl {
    width: 270px;
    padding: 0 10px;
}

.floor8 .floor8_l>div>div.fl>img {
    display: block;
    width: 250px;
    height: 330px;
}

.floor8 .floor8_l>div>div.fl>h3 {
    font-size: 14px;
    height: 18px;
    overflow: hidden;
    color: rgb(84, 84, 84);
    margin: 10px 0 5px;
}

.floor8 .floor8_l>div>div.fl>p {
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 22px;
    height: 45px;
    overflow: hidden;
}

.floor8 .floor8_l>div>div.fr {
    width: 475px;
}

.floor8 .floor8_l>div>div.fr>div {
    margin-top: 15px;
}

.floor8 .floor8_l>div>div.fr>div:first-child {
    margin-top: 0;
}

.floor8 .floor8_l>div>div.fr>div>img {
    float: left;
    width: 154px;
    height: 118px;
    margin-right: 10px;
}

.floor8 .floor8_l>div>div.fr>div>div {
    width: 300px;
}

.floor8 .floor8_l>div>div.fr>div>div>h3 {
    font-size: 12px;
    color: rgb(84, 84, 84);
    margin-top: 10px;
}

.floor8 .floor8_l>div>div.fr>div>div>h3>strong {
    color: rgb(0, 162, 255);
    margin-right: 10px;
}

.floor8 .floor8_l>div>div.fr>div>div>p {
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 23px;
    margin-top: 10px;
}



.floor8 .floor8_r {
    border: 1px solid rgb(208, 208, 208);
    border-top: 2px solid rgb(208, 208, 208);
    width: 370px;
    background: rgb(249, 249, 249);
    padding: 50px 20px 10px;
    position: relative;
}

.floor8 .floor8_r>h2 {
    color: white;
    font-weight: 900;
    background: rgb(200, 15, 47);
    padding: 10px 0;
    text-align: center;
    width: 110px;
    position: absolute;
    top: 10px;
    left: -10px;
}

.floor8 .floor8_r>ul>li {
    padding: 9px 0;
    border-bottom: 1px dashed rgb(200, 200, 200);
}

.floor8 .floor8_r>ul>li:last-child {
    border-bottom: 0 none;
}

.floor8 .floor8_r>ul>li>div {
    width: 228px;
}

.floor8 .floor8_r>ul>li>div>a {
    display: block;
    height: 18px;
    font-size: 12px;
    color: rgb(103, 103, 103);
    overflow: hidden;
    margin-top: 10px;
}

.floor8 .floor8_r>ul>li>div>div {
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 18px;
    margin-top: 5px;
}

.floor8 .floor8_r>ul>li>div>div:hover {
    color: rgb(255, 26, 58);
    text-decoration: underline;
    cursor: pointer;
}

.floor8 .floor8_r>ul>li>div>div>strong {
    color: rgb(255, 26, 58);
}

.floor8 .floor8_r>ul>li>a {
    float: right;
    width: 83px;
    height: 83px;
    border: 1px solid rgb(204, 204, 204);
}

.floor8 .floor8_r>ul>li>a>img {
    display: block;
    width: 100%;
    height: 100%;
}

.foot1 {
    margin-top: 20px;
    border-top: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(248, 248, 248));
}

.foot1 .foot1_c {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.foot1 .foot1_c>img {
    display: block;
    width: 100%;
}

.foot2 .foot2_c {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.foot2 .foot2_c>img {
    display: block;
    width: 100%;
}