.content {
    width: 1200px;
    min-width: 1200px;
    margin: 10px auto 0;
}

.content .content_l {
    width: 230px;
}

.content .content_l .down {
    border: 1px solid rgb(228, 228, 228);
}

.content .content_l .down>h3 {
    font-size: 14px;
    color: #333;
    padding: 8px 10px;
    font-weight: 900;
    cursor: pointer;
    border-bottom: 1px solid rgb(228, 228, 228);
    background: rgb(239, 239, 239);
}

.content .content_l .down>h3>span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    background: rgb(168, 167, 167);
    color: white;
    margin-right: 7px;
}

.content .content_l .down>ul {
    display: none;
}

.content .content_l .down>ul>li {
    cursor: pointer;
    font-size: 12px;
    color: rgb(51, 51, 51);
    margin: 10px 0 10px 38px;
}

.content .content_l .down>ul>li:hover {
    color: red;
}

.content .content_l .rank {
    border: 1px solid rgb(228, 228, 228);
    border-bottom: 0 none;
    margin-top: 10px;
}

.content .content_l .rank>h3 {
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
    color: rgb(51, 51, 90);
    font-weight: 900;
    background: rgb(246, 246, 246);
}

.content .content_l .rank>div {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.content .content_l .rank>div>a:nth-of-type(1) {
    display: block;
    width: 120px;
    height: 120px;
    margin: 10px auto 10px;
}

.content .content_l .rank>div>a:nth-of-type(1)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.content .content_l .rank>div>a:nth-of-type(2) {
    display: block;
    height: 18px;
    font-size: 12px;
    padding: 0 7px;
    color: rgb(102, 102, 102);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content .content_l .rank>div>div {
    color: red;
    font-weight: 900;
    text-align: center;
}





.content .content_r {
    width: 960px;
}

.content .content_r .sort {
    padding: 6px;
    border-top: 2px solid rgb(22, 173, 224);
    background: rgb(249, 249, 249);
}

.content .content_r .sort>span.fl {
    font-size: 12px;
    color: #666;
    margin-top: 4px;
}

.content .content_r .sort>button {
    height: 26px;
    font-size: 12px;
    color: rgb(102, 102, 102);
    border: 1px solid #cecbce;
    padding: 0 10px;
    margin-left: 8px;
    cursor: pointer;
}

.content .content_r .sort>button.color {
    color: white;
    font-weight: 900;
    border: 0 none;
    background: rgb(252, 28, 90);
}

.content .content_r .sort>span.fr {
    font-size: 12px;
    color: rgb(252, 29, 90);
    margin-top: 4px;
}

.content .content_r .spRender {
    margin-top: 10px;
}

.content .content_r .spRender>li {
    float: left;
    width: 25%;
    padding: 13px;
}

.content .content_r .spRender>li:hover {
    background: rgb(244, 244, 244);
}

.content .content_r .spRender>li>a:nth-of-type(1) {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.content .content_r .spRender>li>a:nth-of-type(1)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.content .content_r .spRender>li>div {
    height: 36px;
    overflow: hidden;
}

.content .content_r .spRender>li>div>a {
    font-size: 12px;
    color: rgb(102, 102, 102);
}

.content .content_r .spRender>li>div>a:hover {
    text-decoration: underline;
    color: rgb(255, 26, 58);
}

.content .content_r .spRender>li>p {
    color: #ff1a3a;
    font-weight: 900;
    font-family: verdana;
    margin-top: 10px;
    margin-bottom: 3px;
}

.content .content_r .spRender>li>p>span {
    font-size: 12px;
    font-weight: 300;
}

.content .content_r .spRender>li>button {
    height: 24px;
    margin-right: 7px;
    background: rgb(239, 239, 239);
    border: 1px solid rgb(223, 223, 223);
    font-size: 12px;
    color: rgb(102, 102, 102);
    width: 56px;
    border-radius: 3px;
}

.content .content_r .spRender>li>button.btnBuy {
    border: 0 none;
    background: rgb(252, 28, 90);
    color: rgb(255, 255, 255);
    width: 90px;
}

.content .content_r .page {
    margin-top: 20px;
    padding-left: 30px;
}

.content .content_r .page>button {
    width: 29px;
    height: 26px;
    border: 1px solid rgb(204, 204, 204);
    background: white;
    line-height: 26px;
    color: #005aa0;
    font-size: 12px;
    cursor: pointer;
    margin-right: 5px;
}

.content .content_r .page>button.color {
    color: white;
    font-weight: 900;
    border: 0 none;
    background: rgb(2, 163, 240);
}

.foot1 {
    margin-top: 20px;
    border-top: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(248, 248, 248));
}

.foot1 .foot1_c {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.foot1 .foot1_c>img {
    display: block;
    width: 100%;
}

.foot2 .foot2_c {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.foot2 .foot2_c>img {
    display: block;
    width: 100%;
}