.content {
    width: 980px;
    min-width: 980px;
    margin: 10px auto 0;
}

.content>h2 {
    font-size: 12px;
    color: #4e7fc2;
    border-bottom: 2px solid rgb(120, 181, 244);
    padding: 8px 0;
}

.content .important {
    padding: 12px 0 28px;
    border-bottom: 2px solid rgb(228, 228, 228);
}

.content .important .imgs {
    width: 72px;
}

.content .important .imgs>li {
    width: 72px;
    height: 72px;
    border: 1px solid rgb(228, 228, 228);
    margin-bottom: 5px;
}

.content .important .imgs>li>img {
    display: block;
    width: 100%;
    height: 100%;
}

.content .important .imgs>li.color {
    border: 1px solid rgb(120, 181, 244);
}



.content .important .bigImg {
    width: 350px;
    height: 350px;
    margin-left: 15px;
}




.content .important .detail {
    width: 503px;
}

.content .important .detail .desc1 {
    padding: 10px;
    color: #333;
    font-weight: 900;
    border-bottom: 1px dashed rgb(240, 240, 240);
}

.content .important .detail .gNumber {
    font-size: 12px;
    color: #666;
    padding: 10px;
}

.content .important .detail .price {
    padding: 0px 10px 10px;
    border-bottom: 1px dashed rgb(240, 240, 240);
    font-size: 12px;
    color: rgb(103, 103, 103);
}

.content .important .detail .price .ownPrice {
    margin-right: 28px;
}

.content .important .detail .price .ownPrice>strong {
    font-size: 16px;
    color: #d11010;
    font-weight: 800;
}

.content .important .detail .price .otherPrice {
    margin: 6px 30px 0 0;
}

.content .important .detail .price .count {
    margin-top: 6px;
}

.content .important .detail .brand {
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin: 12px 0 0 10px;
}

.content .important .detail .brand>span {
    color: rgb(64, 99, 167);
    cursor: pointer;
}

.content .important .detail .brand>span:hover {
    color: rgb(252, 127, 15);
}

.content .important .detail .type {
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin: 12px 0 0 10px;
}

.content .important .detail .type>span {
    color: rgb(64, 99, 167);
    cursor: pointer;
}

.content .important .detail .type>span:hover {
    color: rgb(252, 127, 15);
}

.content .important .detail .user {
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin: 12px 0 0 10px;
}

.content .important .detail .user>img {
    height: 13px;
    vertical-align: top;
}

.content .important .detail .user>span {
    margin-left: 40px;
    color: rgb(64, 99, 167);
    cursor: pointer;
}

.content .important .detail .user>span>strong {
    color: rgb(252, 127, 15);
}

.content .important .detail .user>span:hover {
    color: rgb(252, 127, 15);
}

.content .important .detail .transport {
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin: 12px 0 0 10px;
}

.content .important .detail .transport>strong {
    color: rgb(209, 17, 17);
}

.content .important .detail .transport>span {
    color: rgb(65, 100, 167);
    cursor: pointer;
    margin-left: 30px;
}

.content .important .detail .transport>span:hover {
    color: rgb(252, 128, 16);
}

.content .important .detail .safe {
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin: 12px 0 0 10px;
}

.content .important .detail .safe>img {
    height: 15px;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 4px;
}

.content .important .detail .safe>img:nth-of-type(1) {
    margin-left: 0;
}

.content .important .detail .server {
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin: 12px 0 0 10px;
}

.content .important .detail .server>strong {
    color: rgb(64, 99, 167);
}

.content .important .detail .buy {
    height: 74px;
    border: 1px solid rgb(245, 222, 188);
    background: rgb(255, 252, 243);
    margin-top: 10px;
    padding-left: 21px;
}

.content .important .detail .buy>span {
    font-size: 12px;
    display: inline-block;
    color: rgb(102, 102, 102);
    margin-top: 28px;
}

.content .important .detail .buy .jian {
    width: 13px;
    height: 13px;
    background: rgb(252, 254, 250);
    border: 1px solid rgb(204, 204, 200);
    color: rgb(45, 49, 48);
    font-weight: 900;
    font-size: 18px;
    vertical-align: middle;
    line-height: 0px;
    cursor: pointer;
}

.content .important .detail .buy>input {
    width: 32px;
    height: 22px;
    border: 1px solid rgb(205, 204, 199);
    text-align: center;
}

.content .important .detail .buy .jia {
    width: 13px;
    height: 13px;
    background: rgb(252, 254, 250);
    border: 1px solid rgb(204, 204, 200);
    color: rgb(45, 49, 48);
    font-weight: 900;
    font-size: 14px;
    vertical-align: middle;
    line-height: 0px;
    cursor: pointer;
}

.content .important .detail .buy .jr {
    width: 140px;
    height: 40px;
    background: linear-gradient(to bottom, rgb(255, 219, 94), rgb(237, 139, 15));
    border-radius: 5px;
    color: white;
    font-weight: 900;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.content .important .detail .buy .sc {
    width: 140px;
    height: 40px;
    background: linear-gradient(to bottom, rgb(100, 235, 255), rgb(24, 155, 196));
    border-radius: 5px;
    color: white;
    font-weight: 900;
    font-size: 18px;
    margin-left: 25px;
    cursor: pointer;
}

.content .remark {
    margin-top: 15px;
}

.content .remark .remark_l {
    width: 200px;
}

.content .remark .remark_l .tj {
    border: 1px solid rgb(228, 228, 228);
}

.content .remark .remark_l .tj>h2 {
    text-align: center;
    padding: 8px 0;
    font-size: 15px;
    color: #333;
    font-weight: 900;
    background: rgb(247, 247, 247);
}

.content .remark .remark_l .tj>ul>li {
    padding: 0 11px 10px;
    border-bottom: 1px dashed rgb(228, 228, 228);
}

.content .remark .remark_l .tj>ul>li:last-child {
    border-bottom: 0 none;
}

.content .remark .remark_l .tj>ul>li>a:nth-of-type(1) {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.content .remark .remark_l .tj>ul>li>a:nth-of-type(1)>img {
    display: block;
    width: 100%;
    height: 100%;
}

.content .remark .remark_l .tj>ul>li>a:nth-of-type(2) {
    display: block;
    height: 18px;
    font-size: 12px;
    color: rgb(102, 102, 102);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 6px;
    text-align: center;
}

.content .remark .remark_l .tj>ul>li>a:nth-of-type(2):hover {
    color: rgb(252, 127, 15);
}

.content .remark .remark_l .tj>ul>li>p {
    font-size: 12px;
    text-align: center;
    color: rgb(209, 16, 16);
    font-weight: 900;
}

.content .remark .remark_l .rx {
    margin-top: 10px;
    border: 1px solid rgb(228, 228, 228);
}

.content .remark .remark_l .rx>h2 {
    text-align: center;
    padding: 8px 0;
    font-size: 15px;
    color: #333;
    font-weight: 900;
    background: rgb(247, 247, 247);
}

.content .remark .remark_l .rx>ul>li {
    margin: 10px 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgb(235, 235, 235);
}

.content .remark .remark_l .rx>ul>li:last-child {
    border-bottom: 0 none;
}

.content .remark .remark_l .rx>ul>li>a {
    float: left;
    width: 72px;
    height: 72px;
}

.content .remark .remark_l .rx>ul>li>a>img {
    display: block;
    width: 72px;
    height: 72px;
}

.content .remark .remark_l .rx>ul>li>div {
    width: 105px;
    float: right;
}

.content .remark .remark_l .rx>ul>li>div>a {
    display: block;
    font-size: 12px;
    color: rgb(103, 103, 103);
    margin-top: 10px;
    overflow: hidden;
    height: 30px;
}

.content .remark .remark_l .rx>ul>li>div>a:hover {
    color: rgb(252, 128, 16);
}

.content .remark .remark_l .rx>ul>li>div>p {
    font-size: 12px;
    color: rgb(209, 16, 16);
    text-align: right;
    font-weight: 900;
    margin-top: 10px;
}




.content .remark .remark_r {
    width: 765px;
}

.content .remark .remark_r .comment_t {
    border-bottom: 2px solid #78b5f4;
}

.content .remark .remark_r .comment_t>li {
    width: 140px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    color: black;
    font-size: 16px;
    font-weight: 900;
    float: left;
    border: 1px solid rgb(229, 229, 229);
    border-bottom: none;
    background: linear-gradient(to bottom, rgb(254, 254, 254), rgb(239, 239, 239));
}

.content .remark .remark_r .comment_t>li.color {
    border: 0 none;
    color: white;
    background: linear-gradient(to bottom, rgb(1, 225, 244), rgb(0, 127, 179));
}

.content .remark .remark_r .comment_t>li:hover {
    color: white;
    background: linear-gradient(to bottom, rgb(1, 225, 244), rgb(0, 127, 179));
    border: 0 none;
}

.content .remark .remark_r>div {
    margin-top: 10px;
}

.content .remark .remark_r>div>img {
    display: block;
    width: 100%;
}

.content .remark .remark_r>div>h2 {
    font-weight: 900;
    height: 32px;
    padding-left: 20px;
    color: white;
    background: rgb(120, 181, 244);
    line-height: 32px;
}

.content .remark .remark_r>div>ul>li {
    padding: 20px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.content .remark .remark_r>div>ul>li>div.fl {
    width: 600px;
}

.content .remark .remark_r>div>ul>li>div.fl>p {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.content .remark .remark_r>div>ul>li>div.fl>img {
    height: 12px;
}

.content .remark .remark_r>div>ul>li>div.fr {
    width: 120px;
}

.content .remark .remark_r>div>ul>li>div.fr>p {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.content .remark .remark_r>div>ul>li>div.fr>div {
    font-size: 12px;
    color: #acacac;
    margin-top: 5px;
}

.content .remark .remark_r>div>div{
    margin-top:10px;
    padding-right: 20px;
}

.content .remark .remark_r>div>div>div>button{
    height: 20px;
    width: 30px;
    background: grey;
    margin-right: 5px;
}

.content .remark .remark_r>div>div>div>button.color{
    background: red;
    color:white;
}

.content .remark .remark_r>div>textarea{
    width: 100%;
    display: block;
    height: 50px;
    margin-top: 10px;
}

.content .remark .remark_r>div>button{
    float: right;
    margin-top: 3px;
    background: yellowgreen;
    width: 60px;
    height: 25px;
    color:white;
    cursor: pointer;
}









.foot1 {
    margin-top: 20px;
    border-top: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(248, 248, 248));
}

.foot1 .foot1_c {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.foot1 .foot1_c>img {
    display: block;
    width: 100%;
}

.foot2 .foot2_c {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.foot2 .foot2_c>img {
    display: block;
    width: 100%;
}